.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-items {
    width: 15%;
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
}
footer {
    position: fixed;
    bottom: 0;
    font-size: 30px;
    left: 45%;
}

main {
    font-size: 30px;
    text-align: center;
}
header {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}

body {
    background-color: cyan;
}

#begin {
    margin: 10px;
    padding: 30px;
    font-size: 4rem;
    font-weight: bold;
}