.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.btn-items {
    width: 15%;
    margin: 5px;
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(red, orange);
    flex-wrap: wrap;
}
footer {
    position: fixed;
    bottom: 0;
    font-size: 30px;
    left: 45%;
}

main {
    font-size: 30px;
    text-align: center;
}
header {
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
header h2 {
    font-size: 40px;
}
body {
    background-color: cyan;
}

#begin {
    margin: 10px;
    font-size: 4rem;
    font-weight: bold;
}

.name {
    padding: 30px;
}

.name input, .name button {
    padding: 15px;
    font-size: 20px;
}

.highscore-container {
    display: flex;
    justify-content: center;
    align-items: center;
}